.sport-heading{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.card-link{
    text-decoration: none;
    color: black;
}

.match-detail-card{
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor:pointer
}

.match-detail-card:hover {
    background-color: #c6c6c6;
  }

.team-detail-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-name{
    font-weight: 500;
}

.team-vs-text{
    font-weight: 700;
    margin: 0px 20px ;
    color: #666666;
}

.team-image{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.match-name{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #666666;
}

.match-time{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #666666;
}
