<div class="container passwordreset-page-container">
  <div class="row form-label">Reset Password</div>
  <div class="row form-body">
    <form [formGroup]="resetForm" (ngSubmit)="passwordReset()">
      <div class="col form-field">
        <label for="oldpasswordfield">Old Password</label>
        <input type="password" id="oldpasswordfield" class="form-control" formControlName="old_password">
      </div>
      <div *ngIf="submitted && formControl.old_password.errors" class="text-danger">
        <div *ngIf="formControl.old_password.errors['required']">Old Password is required.</div>
      </div>
      <div class="col form-field">
        <label for="passwordfield">New Password</label>
        <input type="password" id="passwordfield" class="form-control" formControlName="password">
      </div>
      <div *ngIf="submitted && formControl.password.errors" class="text-danger">
        <div *ngIf="formControl.password.errors['required']">New Password is required.</div>
      </div>

      <div class="col form-field">
        <label for="passwordfield2">New Password(Enter Again)</label>
        <input type="password" id="passwordfield2" class="form-control" formControlName="password2">
      </div>
      <div *ngIf="submitted && formControl.password2.errors" class="text-danger">
        <div *ngIf="formControl.password2.errors['required']">New Password is required.</div>
      </div>
      <div class="col pt-4">
        <button class="btn btn-success" type="submit">Reset</button>
      </div>
      <div *ngIf="submitted && error" class="text-danger">
        {{error.error}}
      </div>
    </form>
  </div>
</div>
