.profile-page-container{
    margin: 20px;
}

.form-label {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}

.form-body {
    margin: 10px;
}

.form-row {
    margin-bottom: 20px;
}

.text-error {
    font-size: 12px;
    color: red;
}

form-button-row{
    margin-top: 10px;
}