.bet-detail-card{
    background-color: #f6f6f6;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.match-detail-card{
    background-color: #f6f6f6;
    padding: 40px;
    border-radius: 20px;
}

.match-detail-row{
    text-align: center;
}

.match-name{
    font-size: 20px;
    font-weight: 600;
}

.match-time{
    font-size: 14px;
}

.bet-amount-row{
    text-align: center;
}

.bet-choose-text{
    margin-top: 20px;
}

.bet-amount-select{
    width: 80px;
}
.bet-amount-select.form-select{
    margin: auto;
}

.team-detail-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.team-image{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid #aaaaaa;
}

.team-name{
    margin: 20px 0px;
    font-weight: 600;
}

.versus-text{
    font-size: 30px;
    font-weight: 500px;
}

.est-winning-text{
    font-size: 14px;
}

.bet-detail-heading{
    font-weight: 800;
}

@media (max-width: 500px){
    .team-detail-row{
        flex-direction: column;
    }
    .bet-detail-card{
        flex-direction: column;
    }
    .bet-amount-row{
        margin-bottom: 20px;
    }
    .versus-text{
        margin: 20px 0px;
    }

}