<div class="row">
  <div class="col welcome-text">Welcome to Office JAM
  </div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div class="col form-field">
    <label for="emailfield">Email</label>
    <input type="text" id="emailfield" class="form-control" formControlName="email">
  </div>
  <div class="col form-field">
    <label for="passwordfield">Password</label>
    <input type=" text" id="passwordfield" class="form-control" formControlName="password">
  </div>
  <div class="col pt-4">
    <button class="btn btn-success" type="submit">Login</button>
  </div>
</form>
