<div class="row">
  <div class="col welcome-text">Welcome to Office JAM
  </div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div class="col form-field">
    <label for="emailfield">Email</label>
    <input type="email" id="emailfield" class="form-control" formControlName="email">
    <div *ngIf="formControl.email.touched && formControl.email.errors" class="text-danger">
      <div *ngIf="formControl.email.errors['email']">Email must be valid.</div>
      <div *ngIf="formControl.email.errors['required']">Email is required.</div>
    </div>
  </div>
  <div class="col form-field">
    <label for="passwordfield">Password</label>
    <input type="password" id="passwordfield" class="form-control" formControlName="password">
  </div>
  <div *ngIf="formControl.password.touched && formControl.password.errors" class="text-danger">
    <div *ngIf="formControl.password.errors['required']">Password is required.</div>
  </div>
  <div class="col pt-4">
    <button class="btn btn-success" type="submit">Login</button>
  </div>
  <div *ngIf="submitted && error" class="text-danger">
    Check Login Details
  </div>
</form>
