<div class="container profile-page-container">
  <div class="match-detail-card">
    <div class="row profile-header">View Profile</div>
    <div class="row">
      <div class="profile-edit-link"><a [routerLink]="['edit']">Edit Profile Info</a></div>
    </div>
    <table class="table border">
      <tbody>
        <tr>
          <td class="td-label">
            Display Name
          </td>
          <td>
            {{userProfile.display_name}}
          </td>
        </tr>
        <tr>
          <td class="td-label">
            First Name
          </td>
          <td>
            {{userProfile.first_name}}
          </td>
        </tr>
        <tr>
          <td class="td-label">
            Last Name
          </td>
          <td>
            {{userProfile.last_name}}
          </td>
        </tr>
        <tr>
          <td class="td-label">
            Email Id
          </td>
          <td>
            {{userProfile.email}}
          </td>
        </tr>
        <tr>
          <td class="td-label">
            Karma Coins
          </td>
          <td>
            {{userProfile.coins}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div><a [routerLink]="['password-reset-page']">Reset Password</a></div>
    </div>
  </div>
</div>
