.profile-page-container{
    margin: 20px;
}

.profile-detail-card{
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.profile-header {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}

.profile-edit-link{
    text-align: end;
}

